<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-fixed-top layout-temple">
        <div class="row">
            <div class="container-fluid">
                <div class="col-md-2"></div>
                <div class="col" style="float:left;">
                    <a href="#">
                        <img src="~/Content/logo1.png" alt="Alternate Text" />
                    </a>
                </div>
                <div class="col" style="float:left;">
                    <a href="#">
                        <img src="~/Content/logo2.png" alt="Alternate Text" />
                    </a>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    <nav class="navbar layout-admin navbar-fixed-top">
        <div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span style="background:black;" class="icon-bar"></span>
                    <span style="background:black;" class="icon-bar"></span>
                    <span style="background:black;" class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administrator <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Note", "Index", "Notes", new { area = "Admin" }, new { @class = "" })</li>
                            <li>@Html.ActionLink("Student", "Index", "Student", new { area = "Admin" }, new { @class = "" })</li>
                            <li><a href="#">Page 1-3</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Test Online <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Page 1-1</a></li>
                            <li><a href="#">Page 1-2</a></li>
                            <li><a href="#">Page 1-3</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" class="link-a"><span class="glyphicon glyphicon-log-in link-log-in"> Login</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content body-layouttemple">
        @RenderBody()
        <hr />
    </div>
    <footer class="footer-layout-temple">
        <p class="text-center">©2016 Trung tâm ICT <a href="http://donga.edu.vn" target="_blank">Trường Đại học Đông Á</a></p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
